@{ ViewData["Title"] = "Timeline Page"; }

<div class="page-header">
    <h1>Timeline page <small>All types of content's </small></h1>
</div>
<div class="row">
    <div class="col-lg-6 col-lg-offset-3">
        <a class="btn btn-primary center-block" asp-area="" asp-controller="Timeline" asp-action="CreateContent">Create content</a>
    </div>
</div>
@TempData["Message"]