@{ ViewData["Title"] = "Add friend Page"; }

<div class="page-header">
    <h1>Add friend <small>Search friend by username </small></h1>
</div>
<div class="alert alert-warning alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>Electremia</strong> Work in progress.
</div>