@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to Electremia!</h1>
    <p>Get started by creating an account or logging in with an existing account.</p>
    <a class="btn btn-primary btn-lg" role="button" asp-area="" asp-controller="Account" asp-action="Register">Sign in</a>
    <a class="btn btn-primary btn-lg" role="button" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
</div>