@{ ViewData["Title"] = "Home Page"; }

<div class="page-header">
    <h1>Home <small>Welcome to Electremia!</small></h1>
</div>
@{
    if (TempData["Message"] != null)
    {
        <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            @TempData["Message"]
        </div>
    }
}
<div class="row">
    <div class="col-lg-12">
        <div class="jumbotron">
            <h1>Let's get started!</h1>
            <p>Begin by creating an account or logging in with an existing one.</p>
            <a class="btn btn-primary btn-lg" role="button" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
            <a class="btn btn-info btn-lg" role="button" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
        </div>
    </div>
</div>
